<?xml version='1.0' encoding='utf-8'?>
<widget id="se.konsultrum.bilda" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SSK</name>
    <description>
        Online education application for the children of age between 8 to 15 years.
    </description>
    <author email="tahirazeemalvi@gmail.com" href="http://konsultrum.se">
        Konsultrum Mobile Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="orientation" value="portrait" />
	<plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
	<platform name="android">
        <icon density="ldpi" src="www/Icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/Icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/Icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/Icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/Icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/Icons/android/drawable-xxxhdpi-icon.png" />        
    </platform>
    <platform name="ios">
        <icon height="20" platform="ios" src="www/Icon/ios/icon-App-20x20@1x.png" width="20" />
        <icon height="40" platform="ios" src="www/Icon/ios/icon-App-20x20@2x.png" width="40" />
        <icon height="29" platform="ios" src="www/Icon/ios/icon-App-29x29@1x.png" width="29" />
        <icon height="58" platform="ios" src="www/Icon/ios/icon-App-29x29@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/Icon/ios/icon-App-29x29@3x.png" width="87" />
		<icon height="57" platform="ios" src="www/Icon/ios/icon-App-57x57@1x.png" width="57" />
        <icon height="114" platform="ios" src="www/Icon/ios/icon-App-57x57@2x.png" width="114" />        
        <icon height="80" platform="ios" src="www/Icon/ios/icon-App-40x40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/Icon/ios/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" platform="ios" src="www/Icon/ios/Icon-Small-50x50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/Icon/ios/icon-App-60x60@1x.png" width="60" />
        <icon height="120" platform="ios" src="www/Icon/ios/icon-App-60x60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/Icon/ios/icon-App-60x60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/Icon/ios/icon-App-72x72@1x.png" width="72" />
        <icon height="144" platform="ios" src="www/Icon/ios/icon-App-72x72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/Icon/ios/icon-App-76x76@1x.png" width="76" />
        <icon height="152" platform="ios" src="www/Icon/ios/icon-App-76x76@2x.png" width="152" />  
    </platform>
	<platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
